.title{
    text-align: center;
    font-size: 100px;
    font-family: 'Playfair Display', serif;
}

.inputText{
    font-size: 15px;
}

#title{
    padding: 20px;
}

#interestsInput{
    text-align: center;
}

#interestsInput .inputText{
    width: 800px;
    height: 50px;
    border: none;
}

#interestsButton{
    width: 300px;
    height: 50px;

    border-radius: 10px;
    border: none;
}


/*tags*/

#interestsTags{
    padding: 5px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

ul{
    list-style-type: none;
    text-align: center;
    font-size: 25px;

    width: 800px;
}

li{
    display: inline-block;
    word-break: break-all;
    text-align: center;

    padding-left: 40px;
    padding-right: 40px;
    margin: 5px;
    border-radius: 10px;
    user-select: none;
}
li:hover{
    cursor: pointer;
}


.li1{
    background-color: #D6EFFF;
}
.li2{
    background-color: #FED18C;
}
.li3{
    background-color: #FEFEFF;
}

.color1{
    background-color: #47E5BC;
}
.color2{
    background-color: #81E4DA;
}
.color3{
    background-color: #AECFDF;
}
.color4{
    background-color: #9F9FAD;
}
.color5{
    background-color: #93748A;
}