<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Failure</title>
</head>
<body>
    <h2 id="title" class="title">Username/Pfp Creator</h2>
    
    <form id="interestsInput" class="interests" action="/">
        <input name="profile" class="inputText" type="text" placeholder="Profile Picture Generator"><br><br>
        <button class="inputSubmit" name="submit_button">Submit</button>
    </form>


    <script src="main.js"></script>
</body>
</html>